{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div class="profil_content container-fluid">
		<div class="row">
		<div  class="image col-lg-6 col-md-6 col-xs-6 col-sm-6">
			<img src=" {% static 'img/image_profil.png'%}" alt="" >
		</div>
		<div class="description col-lg-6 col-md-6 col-xs-6 col-sm-6">
			<div class="block1">
				<ul>
					<li><img src="{% static 'img/like.png'%}" alt=""> Загальновизнаний вибір</li>
					<li><img src="{% static 'img/teplo.png'%}" alt="">Хороші показники теплозбереження</li>
					<li><img src="{% static 'img/asortument.png'%}" alt=""> Ширрокий асортимент кольорових рішень</li>
				</ul>
			</div>
			<div class="block2">
				<div class="characteristic"> <i class="fa fa-check" aria-hidden="true"></i> Кількість камер </div>
				<div class="tab_block2">4</div>
                <div class="characteristic"> <i class="fa fa-check" aria-hidden="true"></i>Товщина зовнішньої стінки</div>
				<div class="tab_block2">клас В</div>
				<div class="characteristic"> <i class="fa fa-check" aria-hidden="true"></i>Профільна система класу В</div>
				<div class="characteristic"> <i class="fa fa-check" aria-hidden="true"></i>Естетичний сірий ущільнювач класу TPV</div>
				<div class="characteristic"> <i class="fa fa-check" aria-hidden="true"></i>Відведення з фальця дощової води</div>

			</div>
			<div class="block3">
				Це 4-камерна віконна система, розроблена для людей, які надають перевагу простоті форми класичного вікна.
			</div>
			<div class="block4">
				<button class="callback" >Замовити </button>
			</div>
		</div>
		</div>
	</div>
</body>
<script>

//forward call
	$(".callback").click(function(e) {
		e.preventDefault();
		$(".forward-call").fadeIn(300, function() {
			$(this).focus();

		});

	});

	$(".close").click(function() {
		$(".forward-call").fadeOut(300);
	});

</script>
</html>