{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Вовін</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo2.png'%}" />


	<link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
	<script src="https://use.fontawesome.com/17887268f0.js"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/lightgallery.css' %}">

</head>
<body>
<header >
	<div class="container-fluid">
	<div class="row justify-content-end  pre-top-line ">
		<ul >
			<li><a href="/about-us/">Про нас</a></li>
			<li><a href="/blog/">Блог</a></li>
			<li><a href="/gallery/">Галерея</a></li>
			<li><a href="/contact/">Контакти</a></li>
		</ul>
	</div>

	<div class="row top-line">
		<div  class="logo col-lg-3 col-md-3 col-xs-3 col-sm-3"><a href="/" ><img src="{% static 'img/logo.png' %}" alt="Металопластикові вікна Вовін"></a></div>
		<div class="text col-lg-3 col-md-3 col-xs-3 col-sm-3"><i class="fa fa-map-marker" aria-hidden="true"></i> <b>м. Чернівці вул.</b><br>Героїв Майдану 164 </div>
		<div class="schedule col-lg-3 col-md-3 col-xs-3 col-sm-3 ">Графік роботи <br> Пн-Пт 9:00-19:00</div>
		<div class="cell col-lg-3 col-md-3 col-xs-3 col-sm-3">+38 (0372) 555-375 <br>
			+38 (099) 662-67-82
		</div>
	</div>
		<div class="nav row">
        <ul>
                {% url 'home_page' as url%}
                <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4"><a href="{{ url }}" {% if url in request.path %} class="active" {% endif %}> Вікна</a></li>
                {% url 'door' as url %}
                <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4"><a href="{{ url }}" {% if url in request.path %} class="active" {% endif %}>Двері</a></li>
                {% url 'roletu' as url %}
                <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4"><a href="{{ url }}" {% if url in request.path %} class="active" {% endif %}>Ролети</a> </li>
                {% url 'vorota' as url  %}
                <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4"><a href="{{ url }}" {% if url in request.path %} class="active" {% endif %}>Ворота</a> </li>

                <li ><a href="#">Балкони</a></li>
            </ul>
		</div>
	</div>
</header>

<div class="description container-fluid">
	<div class="row">
		<div class="description-photo col-lg-4 col-md-4 col-xs-4 col-sm-4"><img src="{% static 'img/foryou.jpg' %}" alt=""></div>
		<div class="description-text col-lg-8 col-md-8 col-xs-8 col-sm-8">
			<div class="description-text_title col-lg-12 col-md-12 col-xs-12 col-sm-12">ВОВІН </div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid, aut blanditiis corporis delectus et fugiat maiores minus numquam, quas, quisquam quos rem sint veritatis vero vitae voluptas. Consequatur, quo!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi assumenda autem consectetur cum debitis eaque eius eveniet harum ipsam ipsum nam, omnis, placeat porro praesentium quos sed tempora temporibus.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto et facilis fuga impedit nobis! Alias aliquam asperiores consectetur excepturi id nam perferendis quaerat quo vero voluptatum. Ipsam modi nostrum quae!
		</div>
	</div>

</div>
{% include "footer.html" %}
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script>
    lightGallery(document.getElementById('lightgallery'));
</script>
</body>
</html>
